img[alt="GADEMO logo"] {
  background-color: transparent !important;
}

img[alt="Diagrama de Venn"] {
  background-color: transparent !important;
}

img[alt="PUC logo"] {
  background-color: transparent !important;
}

img[alt="DEE logo"] {
  background-color: transparent !important;
}

img[alt="LIRA logo"] {
  background-color: transparent !important;
}